

<div class="container mt-4">

    <button
        class="btn btn-primary ml-2 align-self-start"
        [disabled]="!selectedResult"
      >
        Guardar
      </button>

    <p></p>

    <div class="form-group">
        <label for="materiaSelect">Ciclo lectivo:</label>
        <select
          class="form-control"
        >
          <option value="1" selected>2024</option>
        </select>
      </div>

      <p></p>
    
      <div class="form-group">
        <label for="materiaSelect">Carrera:</label>
        <select
          class="form-control"
        >
          <option value="1" selected>Enfermería</option>
        </select>
      </div>

      <p></p>

      <div class="form-group">
        <label for="materiaSelect">Plan de estudios:</label>
        <select
          class="form-control"
        >
          <option value="1" selected>Plan 2015</option>
        </select>
      </div>

      <p></p>

      <!-- Buscador de Docentes -->
      <label for="searchDocente">Tribunal:</label>
<div class="form-group d-flex">
    <div class="flex-grow-1">
      <input
        type="text"
        id="searchDocente"
        class="form-control"
        [(ngModel)]="searchTermDocente"
        (ngModelChange)="onSearchTermDocenteChange()"
        placeholder="Escribe para buscar..."
      />
      <ul *ngIf="searchResultsDocente.length > 0" class="list-group mt-2">
        <li
          *ngFor="let result of searchResultsDocente"
          class="list-group-item list-group-item-action"
          (click)="onSelectResultDocente(result)"
        >
          {{ result.apellidos }}, {{ result.nombres }}
        </li>
      </ul>
    </div>
    <button
      class="btn btn-primary ml-2 align-self-start"
      style="margin-left:5px"
      [disabled]="!selectedResultDocente"
      (click)="onAddDocente()"
    >
      Añadir
    </button>
  </div>
  
  <!-- Tabla de Docentes Añadidos -->
  <table *ngIf="docentesAgregados.length > 0" class="table table-striped mt-4">
    <thead>
      <tr>
        <th></th>
        <th>Apellidos y Nombres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let docente of docentesAgregados; let i = index">
        <td>
          <button class="btn btn-danger btn-sm" (click)="onRemoveDocente(i)">
            <span class="glyphicon glyphicon-minus-sign"></span>
          </button>
        </td>
        <td>{{ docente.apellidos }}, {{ docente.nombres }}</td>
      </tr>
    </tbody>
  </table>
  

      <p></p>

    <div class="form-group">
      <label for="materiaSelect">Seleccionar materia:</label>
      <select
        id="materiaSelect"
        class="form-control"
        [(ngModel)]="selectedMateriaId"
      >
        <option *ngFor="let materia of materias" [value]="materia.id">
          {{ materia.nombre }}
        </option>
      </select>
    </div>
  <p></p>
    <label for="search">Buscar alumno:</label>
    <div class="form-group d-flex">
      <div class="flex-grow-1">
        <input
         autocomplete="off"
         type="text"
          id="search"
          class="form-control"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchTermChange()"
          placeholder="Escribe para buscar..."
        />
        <ul *ngIf="searchResults.length > 0" class="list-group mt-2">
          <li
            *ngFor="let result of searchResults"
            class="list-group-item list-group-item-action"
            (click)="onSelectResult(result)"
          >
            <div>{{ result.apellidos }}, {{ result.nombres }}</div>
            <small>Legajo: {{ result.legajo }} | DNI: {{ result.dni }}</small>
          </li>
        </ul>
      </div>
      <button
        class="btn btn-primary ml-2 align-self-start"
        [disabled]="!selectedResult"
        (click)="onAddAlumno()"
        style="margin-left:5px"
      >
        Añadir
      </button>
    </div>
  
    <div *ngIf="errores.length > 0" class="alert alert-danger mt-3" role="alert">
      <ul>
        <li *ngFor="let error of errores">{{ error }}</li>
      </ul>
      <button type="button" class="close" (click)="clearErrors()">
        <span>&times;</span>
      </button>
    </div>
  
    <table *ngIf="alumnosAgregados.length > 0" class="table table-striped mt-4">
      <thead>
        <tr>
          <th></th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Legajo</th>
          <th>1P</th>
          <th>R1P</th>
          <th>2P</th>
          <th>R2P</th>
          <th>3P</th>
          <th>R3P</th>
          <th>4P</th>
          <th>R4P</th>
          <th>Promedio</th>
          <th>% Horas</th>
          <th>Condición</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnosAgregados; let i = index">
          <td>
            <button class="btn btn-danger btn-sm" (click)="onRemoveAlumno(i)">
              <span class="glyphicon glyphicon-delete"></span>
            </button>
          </td>
          <td>{{ alumno.apellidos }}</td>
          <td>{{ alumno.nombres }}</td>
          <td>{{ alumno.legajo }}</td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:30px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:60px; border:0; background-color: transparent;"></td>
          <td><input type="text" style="text-align:center;width:60px; border:0; background-color: transparent;"></td>
          <td><select><option>Libre</option>
            <option>Regular</option>
            <option>Promocionado</option></select></td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <router-outlet></router-outlet>
  
